#IDE
*~
.vscode

#python
__pycache__
build
dist
*-info

#Flask
youtubedlWeb/static/bootstrap-*
youtubedlWeb/static/clockpicker
flask_session
#googleAPI
client_secret.json
gmail_token.json

#tests
.coverage
results
