bidict==0.23.1
blinker==1.8.2
Brotli==1.1.0
cachelib==0.13.0
certifi==2024.6.2
charset-normalizer==3.3.2
click==8.1.7
coverage==7.5.4
exceptiongroup==1.2.1
Flask==3.0.3
Flask-Session==0.8.0
Flask-SocketIO==5.3.6
h11==0.14.0
idna==3.7
iniconfig==2.0.0
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==2.1.5
metadata-mp3==1.1
msgspec==0.18.6
mutagen==1.47.0
packaging==24.1
pluggy==1.5.0
pycryptodomex==3.20.0
pytest==8.2.2
pytest-html==4.1.1
pytest-metadata==3.1.1
python-engineio==4.9.1
python-socketio==5.11.3
requests==2.32.3
simple-websocket==1.0.0
tomli==2.0.1
urllib3==2.2.2
websockets==12.0
Werkzeug==3.0.3
wsproto==1.2.0
yt-dlp==2024.5.27
