<!DOCTYPE HTML>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="../static/bootstrap-5.0.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../static/style.css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <title>Media Server</title>
</head>

<body>
    {% include 'header.html' %}
    {% with messages = get_flashed_messages(with_categories=true) %}
    <!-- Categories: success (green), info (blue), warning (yellow), danger (red) -->
    {% if messages %}
    {% for category, message in messages %}
    <div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}

    <section class="text-center">
        <!--        <form action="/playlists" method="POST"> -->
        <form action="/mail" method="POST">
            <table class="ms-auto me-auto">
                <tr>
                    <td><input class="form-control" type="text" id="sender" name="sender"
                            placeholder="name@example.com"></td>
                </tr>
                <tr>
                    <td><textarea class="form-control" rows="4" cols="40" name="message"
                            placeholder="enter text here"></textarea></td>
                </tr>
                <!--
                <tr>
                    <td>
                        <label for="formFile" class="form-label">Default file input example</label>
                        <input class="form-control" type="file" id="formFile" />
                    </td>
                </tr>
                -->
            </table>
            <p><button class="btn btn-primary" type="submit" name="add" value="send">Submit</button> </p><br>
        </form>

    </section>

    <script src="../static/bootstrap-5.0.0/js/bootstrap.js"></script>
</body>

</html>