<!DOCTYPE HTML>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="../static/bootstrap-5.0.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../static/style.css">
    <title>Media Server</title>
</head>

<body>
    {% include 'header.html' %}


    <section class="layout-hero text-center">
        <form action="/youtubedl/download_file" method="POST">
            <p>Info:</p>
            {% for key, value in file_info.items() %}
                 <label for="lname">{{ key }}: {{value}}</label> <br>
            {% endfor %}
                 <input type="hidden" name="path" value="{{ full_path }}"><br>
            <p><input type="submit" name="download" value="download" /></p><br>
        </form>
    </section>
    <script src="../static/bootstrap-5.0.0/js/bootstrap.js"></script>
</body>

</html>