<header id="page-media" class="site-header">

    <nav class="navbar navbar-expand-sm bg-secondary navbar-dark">

        <div class="container-fluid">

            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#myTogglerNav"
                aria-controls="#myTogglerNav" aria-label="Toggle Navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <a class="navbar-brand" href="index.html">
                Media Server
            </a>

            <section class="collapse navbar-collapse" id="myTogglerNav">
                <div class="navbar-nav ms-auto">
                    <a class="nav-item nav-link" href="/index.php">Home</a>
                    <a class="nav-item nav-link" href="/youtubedl/index.html">Download</a>
                    <a class="nav-item nav-link" href="/youtubedl/playlists.html">Playlists</a>
                    <a class="nav-item nav-link" href="/youtubedl/alarm.html">Alarm</a>
                </div>
            </section>
        </div>
    </nav>
</header>
