<html>
   <body>
      <form action = "/download" method = "post">
         <p>Enter link:</p>
         <p><input type = "text" name = "link" /></p>
         <p><input type = "submit" value = "download" /></p>
      </form>

      <form action = "{{ url_for('playlist')}}" method="POST">
         <p>Enter link:</p>
		 <select name="playlists" id="playlists" size="5" style="width: 100px;">
             {% for o in playlists_data %}
             <option value="{{ o.name }}">{{ o.name }}</option>
             {% endfor %}
         </select>

         <p><input type="submit" name="remove" value="remove" /></p>


		 <label for="fname">Name:</label>
         <input type="text" id="playlist_name" name="playlist_name"><br><br>
         <label for="lname">link:</label>
         <input type="text" id="link" name="link"><br><br>

         <p><input type="submit" name="add" value="add" /></p>
      </form>
   </body>
</html>
