<!DOCTYPE HTML>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="../static/bootstrap-5.0.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../static/style.css">
    <title>Media Server</title>
    <script src="../static/bootstrap-5.0.0/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
</head>

<body>
    {% include 'header.html' %}
    <script>
        $(document).ready(function () {
            $("#btnFetch").click(function () {
                // disable button
                $(this).prop("disabled", true);

                // add spinner to button
                $(this).html(
                    `<span class="spinner-border spinner-border-sm" role="status" ></span>`
                );

                $("#downloadForm").submit();
            });
        });
    </script>

    <section class="layout-hero text-center">

        <form id="downloadForm" action="/youtubedl/download" method="post">
            <p>Quick download</p>
            <p><input type="text" name="link" size="30" /></p>
            <div>
                <input type="radio" id="quickdownloadMP3" name="quickdownload" value="mp3" checked>
                <label for="quickdownloadMP3">MP3</label>

                <input type="radio" id="quickdownload360p" name="quickdownload" value="360p">
                <label for="quickdownload360p">360p</label>

                <input type="radio" id="quickdownload720p" name="quickdownload" value="720p">
                <label for="quickdownload720p">720p</label>

                <input type="radio" id="quickdownload4K" name="quickdownload" value="4k">
                <label for="quickdownload4k">4k</label>
            </div>
            <br>
            <input type="checkbox" name="download_file" value="true">
            <label for="download_file">Download to Your desktop</label>
            <br>

            <p><button id="btnFetch" type="submit" value="download">Download </button></p>
        </form>

    </section>
</body>

</html>
