<!DOCTYPE HTML>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="../static/bootstrap-5.0.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../static/style.css">
    <title>Media Server</title>
</head>

<body>
    {% include 'header.html' %}


    <section class="layout-hero text-center">
        <form action="/youtubedl/playlists" method="POST">
            <p>Download playlists:</p>
            <table class="ms-auto me-auto">
                <tr>
                    <td><label for="fname">Name:</label></td>
                    <td><input type="text" id="playlist_name" name="playlist_name"></td>
                </tr>
                <tr>
                    <td><label for="lname">link:</label></td>
                    <td><input type="text" id="link" name="link"><br></td>
                </tr>
            </table>
            <p><input type="submit" name="add" value="add" /></p><br>

            <select name="playlists" id="playlists" size="5" style="width: 250px;">
                {% for o in playlists_data %}
                <option value="{{ o.name }}">{{ o.name }}</option>
                {% endfor %}
            </select>

            <p><input type="submit" name="remove" value="remove" /></p>
        </form>

    </section>

    <script src="../static/bootstrap-5.0.0/js/bootstrap.js"></script>
</body>

</html>