<!DOCTYPE HTML>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="../static/bootstrap-5.0.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../static/style.css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <title>Media Server</title>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
</head>

<body>
    <script>
        $(document).ready(function () {
            var downloadResult = [];
            var loader = document.getElementById("spinner");
            loader.style.display = 'none';


            var socket = io.connect();
            socket.on('connect', function() {
                console.log("connected with socket")
            });

            $('form#downloadForm').submit(function(msg) {
                // disable button
                var button = document.getElementById("submitButton")
                if (button.value == "DownloadPlaylists")
                {
                button.disabled = true;
                var loader = document.getElementById("spinner");
                loader.style.display = 'block';

                console.log("download playlist")
                var playlists = document.getElementById("playlists");
                var playlistToDownload = playlists.value;
                console.log("playlistToDownload", playlistToDownload)
                socket.emit('download_playlist', {data: playlistToDownload});
                }
                /*
                else if(button.value == "Download Zip")
                {
                    socket.emit('download_zip', {data:""});
                }
                */
                return false;
            });

            var form = document.getElementById("downloadZip");
            form.addEventListener("submit", function (event) {
                event.preventDefault();

                var formData = new FormData();
                for (var i = 0; i < downloadResult.length; i++) {
                    var element = downloadResult[i];
                    formData.append(i+1, element);
                }

                fetch('/upload', {
                    method: 'POST',
                    body: formData
                })
                    .then(response => response.json())
                    .then(data => {
                        var downloadLink = document.getElementById('downloadLink');
                        downloadLink.innerHTML = '<a href="' + data.file_url + '">Download file</a>';
                    })
                    .catch(error => {
                        console.error('Błąd:', error);
                    });
            });

            //Test response received from server is handled here
            socket.on('downloadPlaylist_response', function(msg) {
                console.log("response from downloadPLaylist !!!!!!");
                console.log("data", msg)

                var table = document.getElementById("playlist_info");
                if (Array.isArray(msg))
                {
                    var playlistInfo = ""
                    for (const element of msg)
                    {
                        playlistInfo = " <a href=\"" + element["url"] +"\">" + element["playlist_index"] + "</a>"+ ": " + element["artist"] + " - " + element["title"] + "\n";
                        var row = table.insertRow();
                        var cell1 = row.insertCell();
                        var cell2 = row.insertCell();
                        cell1.innerHTML = playlistInfo;
                        cell2.innerHTML = "";
                        console.log(element);
                    }
                    console.log(playlistInfo)
                }
                else{
                    var row = table.insertRow();
                    var cell1 = row.insertCell();
                    cell1.innerHTML = msg;
                }
            })

            socket.on('downloadSong_response', function(msg) {
                var index = msg["playlist_index"];
                downloadResult.push(msg["filename"]);
                console.log("downloaded song with id: ", index);
                var table = document.getElementById("playlist_info");
                var row = table.rows[index-1];
                row.deleteCell(1);
                var cell =row.insertCell(1);
                cell.innerHTML = "V";
            })

            socket.on('downloadPlaylist_finish', function(msg) {
                console.log("finished download")
                console.log(downloadResult)
                // enable button
                document.getElementById("submitButton").disabled = false;
                // stop spinner
                var loader = document.getElementById("spinner");
                loader.style.display = 'none';
            })
        });
    </script>

    {% include 'header.html' %}


    <section class="layout-hero text-center">
            <div class="spinner-border" style="width: 4rem; height: 4rem;" role="status" id="spinner">
                <span class="visually-hidden">Loading...</span>
            </div>

        <!--        <form action="/playlists" method="POST"> -->
        <form action="/youtubedl/playlists" method="POST">
            <p>Download playlists:</p>
            <table class="ms-auto me-auto">
                <tr>
                    <td><label for="fname">Name:</label></td>
                    <td><input type="text" id="playlist_name" name="playlist_name"></td>
                </tr>
                <tr>
                    <td><label for="lname">link:</label></td>
                    <td><input type="text" id="link" name="link"><br></td>
                </tr>
            </table>
            <p><input type="submit" name="add" value="add" /></p><br>

            <select name="playlists" id="playlists" size="5" style="width: 250px;">
                {% for o in playlists_data %}
                <option value="{{ o.name }}">{{ o.name }}</option>
                {% endfor %}
            </select>

            <p><input type="submit" name="remove" value="remove" /></p>
        </form>
        <form id="downloadForm" method="POST" action="#">
           <input type="submit" value="DownloadPlaylists" id="submitButton">
            <br><br>
       </form>
           <br>
    <form id="downloadZip" method="POST" action="/download_zip">
        <table id="playlist_info" class="ms-auto me-auto">
        </table>
        <!--<input type="submit" value="DownloadZip" id="submitDownloadButton">-->
        <button type="submit">Submit</button>
    </form>
    <div id="downloadLink"></div>
    </section>

    <script src="../static/bootstrap-5.0.0/js/bootstrap.js"></script>
</body>

</html>